.resimslider{
    height: 600px;
}

body{
    padding: 50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimşzda{
    background-color: aliceblue;
}
.ayrac{
    border: none;
    border-top: 3px; 
    max-width: 250px;
    margin: 25px; auto; 
}
.ibeyaz{
    color: black;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px;
    background-color: aliceblue;
}
.card-title {
    text-align: center;
  }
.figure:hover{
    opacity: 0.8;
}